{% extends "layout.html" %}
{% block content %}

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    
    <div class="section-title">
      <h2>About Us</h2>
    </div>
    
    <div>
        <p style="text-align: center;">
          <strong>
            Aplikasi Deposit Marketing Predictor merupakan aplikasi prediksi nasabah untuk pemasaran produk deposito oleh pihak bank. Tujuannya untuk menawarkan produk deposito bank kepada nasabah yang memiliki potensial berdasarkan data yang dimiliki dengan memanfaatkan teknik machine learning.
          </strong>
        </p>
    </div>

  </div>
</section>
<!-- End About Us Section -->

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us section-bg">
  <div class="container-fluid" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

        <div class="content">
          <p>
            <strong>
              Keberhasilan promosi atau pemasaran deposito pada sebuah bank sangat berperan dalam meningkatkan dan menjaga konsistensi aktivitas suatu perbankan. Oleh karena itu sangat penting untuk mengetahui kelompok atau nasabah yang berpotensi melakukan deposito atau tidak.
            </strong>
          </p>
          <p><strong>Keuntungan Deposito</strong></p>
        </div>

        <div class="accordion-list">
          <ul>
            <li>
              <a><span>01</span> Bunga yang lebih tinggi </a>
            </li>
            <li>
              <a><span>02</span> Kemungkinan risiko lebih kecil</a>
            </li>
            <li>
              <a><span>03</span> Keamanan uang terjamin </a>
            </li>
          </ul>
        </div>

      </div>

      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("/static/assets/img/features/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
    </div>

  </div>
</section>
<!-- End Why Us Section -->

{% endblock %}