{% extends "layout.html" %}
{% block content %}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="{{ url_for('portfolio') }}">Portofolio</a></li>
      <li>Portfolio Data</li>
    </ol>
    <h2>Portfolio Data</h2>

  </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-8">
        <div class="portfolio-details-slider swiper">
          <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
              <img src="/static/assets/img/portfolio/data/data-1.jpg" alt="">
            </div>

            <div class="swiper-slide">
              <img src="/static/assets/img/portfolio/data/data-2.jpg" alt="">
            </div>

            <div class="swiper-slide">
              <img src="/static/assets/img/portfolio/data/data-3.jpg" alt="">
            </div>

            <div class="swiper-slide">
              <img src="/static/assets/img/portfolio/data/data-4.jpg" alt="">
            </div>

            <div class="swiper-slide">
              <img src="/static/assets/img/portfolio/data/data-5.jpg" alt="">
            </div>

            <div class="swiper-slide">
              <img src="/static/assets/img/portfolio/data/data-6.jpg" alt="">
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="portfolio-info">
          <h3>Project information</h3>
          <ul>
            <li><strong>Category</strong>: Data Visualization</li>
            <li><strong>Client</strong>: Synthesis Academy</li>
            <li><strong>Project date</strong>: 27 November 2022</li>
            <li><strong>Project URL</strong>: <a href="https://public.tableau.com/app/profile/miftahur.rizky/viz/Projek_akhir1/Sheet1">https://public.tableau.com</a></li>
          </ul>
        </div>

        <!-- <div class="portfolio-description">
          <h2>This is an example of portfolio detail</h2>
          <p>
            Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
          </p>
        </div>
      </div> -->

    </div>

  </div>
</section>
<!-- End Portfolio Details Section -->

{% endblock %}